body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #175ec1, #4e6ea5);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.card {
    width: 320px;
    height: 450px;
    perspective: 1000px;
}

.inner-card {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
}

.card.open .inner-card {
    transform: rotateY(180deg);
}

.side {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    text-align: center;
}

.front {
    background: #fff0f5;
}

.back {
    background: white;
    transform: rotateY(180deg);
}

h1 {
    color: #ff4d6d;
}

p {
    color: #444;
    font-size: 16px;
}

/* Botón */
.btn {
    margin-top: 15px;
    padding: 10px 15px;
    border: none;
    background: #ff4d6d;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background: #ff1f4b;
}

/* Corazones */
.heart {
    position: absolute;
    color: #ff4d6d;
    font-size: 20px;
    animation: float 5s linear infinite;
}

@keyframes float {
    0% {
        transform: translateY(100vh) scale(1);
        opacity: 1;
    }
    100% {
        transform: translateY(-10vh) scale(1.5);
        opacity: 0;
    }
}

@media (max-width: 480px) {

    .card {
        width: 90%;
        height: 400px;
    }

    h1 {
        font-size: 20px;
    }

    p {
        font-size: 14px;
    }

    .btn {
        font-size: 14px;
        padding: 8px 12px;
    }

    .heart {
        font-size: 16px;
    }
}
.inner-card {
    transition: transform 0.8s ease;
}
